@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

:root {
    --form-font: "Prata", sans-serif;
    --form-font-color: #212121;
}

.form {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 50px;
}

.form form {
    max-width: 80%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.08);
}

.form h2 {
    font-weight: 400;
    font-size: 20px;
    font-family: var(--form-font);
    color: var(--form-font-color);
    line-height: 43.36px;
}