.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--banner-color);
    background-image: url("../../../public/images/fundo.png");
}

.footer div {
    font-family: var(--main-font);
    color: var(--white-color);
}

.footer .icons {
    display: flex;
    padding: 90px 0;
    margin-left: 190px;
}

.footer .icons img {
    padding: 0 12px;
}

.footer .organo img {
    padding: 0 64px;
}

.footer .anchor-div a {
    text-decoration: none;
    color: var(--white-color);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 30px;
} 